@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Thin';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Light';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Black';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard-Regular';
  min-height: 100vh;
  margin: 0px;
}
p, textarea, a, input {
  font-family: 'Pretendard-Regular';
}

#root {
  background-color: #fff;
  box-shadow: rgba(100,100,111,0.15) 0px 7px 29px 0px;
}

.App {
  font-family: 'Pretendard-Regular';
  min-height: 100vh;
}

@media (min-width:650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

/* MyButton */
.MyButton {
  cursor:pointer;
  border: none;
  border-radius:4px;
  padding: 10px 20px;

  font-size: 18px;
  white-space:nowrap;
  font-family: 'Pretendard-Regular';
}
.MyButton_default {
  background-color: #F7F7F9;
  color: black;
}
.MyButton_positive {
  background-color: #348597;
  color: white;
}
.MyButton_negative {
  background-color: #F4A896;
  color: white;
}

/* Header */
header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}
header > div {
  display: flex;
}
header .head_title {
  width: 50%;
  font-size: 24px;
  justify-content: center;
  text-align: center;
}
header .head_button_left {
  width: 25%;
  font-size: 24px;
  justify-content: flex-start;
}
header .head_button_right {
  width: 25%;
  font-size: 24px;
  justify-content: flex-end;
}

/* Main */
.main {
  padding: 20px;
}

/*DiaryList*/
.DiaryList .menu_wrapper {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.DiaryList .menu_wrapper .right_col {
  flex-grow: 1;
}
.DiaryList .menu_wrapper .right_col button {
  width: 100%;
  font-size: 16px;
}
.DiaryList .ControlMenu {
  margin-right: 10px;;
  border: none;
  border-radius: 4px;
  background-color: #F7F7F9;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

/*DiaryItem*/
.DiaryItem {
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
}
.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DiaryItem .emotion_img_wrapper i {
  font-size: 42px;
  color: #fff;
}
.DiaryItem .emotion_img_wrapper_1 {
  background-color: #264653;
}
.DiaryItem .emotion_img_wrapper_2 {
  background-color: #2a9d8f;
}
.DiaryItem .emotion_img_wrapper_3 {
  background-color: #e9c46a;
}
.DiaryItem .emotion_img_wrapper_4 {
  background-color: #f4a261;
}
.DiaryItem .emotion_img_wrapper_5 {
  background-color: #e76f51;
}

.DiaryItem .info_wrapper {
  cursor: pointer;
  flex-grow:1;
  margin-left: 20px;;
}
.DiaryItem .diary_date {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}
.DiaryItem .diary_content_preview {
  font-size: 18px;
}
.DiaryItem .btn_wrapper {
  min-width: 70px;
}

/*DiaryEditor*/
.DiaryEditor {

}
.DiaryEditor section{
  margin-bottom:40px;
}
.DiaryEditor h4{
  font-size: 20px;
  font-weight: 500;
}
.DiaryEditor .input-date {
  border: none;
  border-radius:4px;
  background-color: #ececec;
  font-size: 16px;
  padding: 10px 20px;
}
.DiaryEditor  .emotion_list_wrapper {
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(5, auto);
}
.DiaryEditor textarea {
  font-size: 18px;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;
  padding: 20px;
  border:none;
  border-radius: 4px;
  background-color: #ececec;
}
.DiaryEditor textarea:focus {
  border: none;
  outline: none;
}
.DiaryEditor .control_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/*EmotionItem*/
.EmotionItem {
  cursor:pointer;
  border-radius: 4px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.EmotionItem .icon_box {
  min-width:100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #ececec;
  transition: all .3s;
}
.EmotionItem .icon_box i {
  font-size: 50px;
  transition: all .3s;
}

.EmotionItem_on_1 .icon_box_1 {
  background-color: #264653;
}
.EmotionItem .icon_box_1 i {
  color: #264653;
}
.EmotionItem_on_2 .icon_box_2 {
  background-color: #2a9d8f;
}
.EmotionItem .icon_box_2 i {
  color: #2a9d8f;
}
.EmotionItem_on_3 .icon_box_3 {
  background-color: #e9c46a;
}
.EmotionItem .icon_box_3 i {
  color: #e9c46a;
}
.EmotionItem_on_4 .icon_box_4 {
  background-color: #f4a261;
}
.EmotionItem .icon_box_4 i {
  color: #f4a261;
}
.EmotionItem_on_5 .icon_box_5 {
  background-color: #e76f51;
}
.EmotionItem .icon_box_5 i {
  color: #e76f51;
}
.EmotionItem span {
  margin-top: 10px;
  font-size: 16px;
}
.EmotionItem_on_1 .icon_box i {
  color: #fff;
}
.EmotionItem_on_2 .icon_box i {
  color: #fff;
}
.EmotionItem_on_3 .icon_box i {
  color: #fff;
}
.EmotionItem_on_4 .icon_box i {
  color: #fff;
}
.EmotionItem_on_5 .icon_box i {
  color: #fff;
}
